// Desktop 
body {
  font-size: 17px; // Optional for elementor theme style. Use p details instead
  font-weight: 400;
  text-rendering: auto;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: grayscale;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 500;
  padding-bottom: 10px;
  margin: 0;
  line-height: 1.42857143;
}

.h1, 
h1 {
  font-size: 40px;
}
.h2, 
h2 {
  font-size: 32px;
}
.h3, 
h3 {
  font-size: 28px;
}
.h4, 
h4 {
  font-size: 26px;
}
.h5, 
h5 {
  font-size: 24px;
}
h6,
.h6 {
  font-size: 21px;
}
p {
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 16px;
  margin-bottom: 0;
  color: #232323;
  line-height: 1.5;
}

// Tablet
@media screen and (max-width:767px) {
  h1, 
  .h1 {
    font-size: 30px;
  }
  h2, 
  .h2 {
    font-size: 26px;
  }
  h3, 
  .h3 {
    font-size: 24px;
  }
   h4, 
  .h4 {
    font-size: 22px;
  }
   h5, 
  .h5 {
    font-size: 20px;
  }
   h6, 
  .h6 {
    font-size: 19px;
  }
  p {
    font-size: 16px;
  }
}

// Mobile
@media screen and (max-width:575px) {
  h1, 
  .h1 {
    font-size: 28px;
  }
}
